<div id="player" ng-controller="PlayerController as player">
  <div id="player-content">
    <p ng-bind="player.state"></p>
    <div ng-show="player.state == 'loading'">
      <h2 class="player-msg">Loading...</h2>
    </div>
    <div ng-show="player.state == 'error'">
      <h2 class="player-msg">An error occurred!</h2>
    </div>
    <div ng-show="player.state == 'playing'">
      <a class="player-button" ng-click="player.pause();"><i class="fa fa-pause-circle"></i></a>
    </div>
    <div ng-show="player.state == 'paused' || player.state == 'stopped'">
      <a class="player-button" ng-click="player.play();"><i class="fa fa-play-circle"></i></a>
    </div>
  </div>
</div>
