<div id="player" ng-controller="PlayerController as player" ng-show="player.sound">
  <div id="player-content">
    <div ng-show="player.getMsg()">
      <h2 class="player-msg">[[ player.getMsg() ]]</h2>
    </div>
    
    <div class="player-controls" ng-show="player.getShowControls()">
      <div class="left">
        <a class="player-button" ng-click="player.pause();" ng-show="player.state == 'playing'"><i class="fa fa-pause-circle"></i></a>
        <a class="player-button" ng-click="player.play();" ng-show="player.state != 'playing'"><i class="fa fa-play-circle"></i></a>
        <a class="player-button small" ng-click="player.stop();"><i class="fa fa-stop-circle"></i></a>
      </div>
      <div class="right">
        <h2 class="player-title">[[ player.getTitle() ]]</h2>
        <progress ng-show="player.getTitle()" value="[[ player.position ]]" max="[[ player.duration || 99999 ]]"></progress>
      </div>
    </div>
  </div>
</div>
