a[data-play] {
    cursor: pointer;
}

#player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #999;
    padding: 5px 0;
}

#player-content {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    
    .player-title {
        margin-bottom: 0;
    }
    
    .player-msg {
        color: #999;
        margin-bottom: 0;
    }
    
    .player-controls {
        .left {
            line-height: 1em;
            float: left;
        }
        .right {
            overflow: hidden;
            padding-left: 10px;
        }
    }
    
    .player-button {
        color: #000;
        font-size: 60px;
    }
}
